.spinner {
  border: 5px solid gainsboro;
  border-left-color: #0c9;
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

.spinner.is-animating {
  animation: loading 0.5s linear infinite;
  display: block;
  left: 48%;
  position: absolute;
  top: 50%;
}

@keyframes loading {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
