.game-container {
  align-items: center;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.main-frame {
  align-items: center;
  background-color: inherit;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  flex-direction: column;
  height: 650px;
  justify-content: center;
  width: 100%;
}


.correct-answer {
  border: 3px solid rgb(6, 240, 15);
}

.wrong-answer {
  border: 3px solid red;
}
